version: 1

formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(message)s'

handlers:
  console:
    class: logging.StreamHandler
    formatter: precise
    stream: ext://sys.stdout

root:
  level: INFO
  handlers: [console]

loggers:
  synapse:
    level: INFO
  synapse.storage.SQL:
    level: WARNING
